<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SimpleCaptcha</servlet-name>
        <servlet-class>nl.captcha.servlet.SimpleCaptchaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DIYCaptcha</servlet-name>
        <servlet-class>controller.DIYCaptcha</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DIYLogin</servlet-name>
        <servlet-class>controller.DIYLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SimpleCaptcha</servlet-name>
        <url-pattern>/simpleImg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DIYCaptcha</servlet-name>
        <url-pattern>/DIYCaptcha</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DIYLogin</servlet-name>
        <url-pattern>/DIYLogin</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
